section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#bg button[type=button] {
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

section#bg button[type=button] svg {
    width: 60%;
}

section#bg button[type=button] svg path {
    fill: #ff2a05;
}

section#popAlert {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 20;
    background-color: rgba(255,255,255,0.0);
    transition: 0.6s top cubic-bezier(0.175, 0.885, 0.32, 1.275),
                0.1s background-color linear 0s;
}

section#popAlert.active {
    top: 0;
    background-color: var(--shadow-background-1);

    transition: 0.3s top cubic-bezier(0.175, 0.885, 0.32, 1.275),
                0.6s background-color linear 0.3s;
}

section#popAlert aside {
    width: 90%;
    max-width: 350px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
}

section#popAlert aside h2 {
    font-size: 25px;
    color: #ee2b2b;
}

section#popAlert aside p {
    font-size: 16px;
    margin: 5px 0;
}

section#popAlert aside button[type=button] {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    padding: 5px 0;
    cursor: pointer;
    background-color: #e5e5e5;
    transition: 0.3s all ease-in-out;
}

section#popAlert aside button[type=button]:hover {
    background-color: #ee2b2b;
    color: #fff;
}


.account_form{
    background-color: var(--background-4);
    color: var(--text-1);
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    max-width: 90%;
    max-height: 100%;
}

.account_form_title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.account_form_input_area{
    display: flex;
    flex-flow: column;
    margin: 10px auto;
    gap: 10px;
    max-width: 500px;
}

.account_form_input {
    background-color: var(--background-4);
    color: var(--text-1);
    outline:none;
    border: 2px solid var(--background-2);
    padding: 5px;
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
}

.account_form_input_password {
    background-color: var(--background-4);
    color: var(--text-1);
    outline:none;
    width: 100%;
}

.account_form_input_password_Show {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 8px;
    padding-right: 8px;
    place-content: center;
}

.account_form_input_error {
    overflow: scroll;
    color: #e14d4d;
    padding: 0 5px;
    margin: 0 auto;
    width: 100%;
}

.account_form_button{
    background-color: var(--background-4);
    color: var(--text-1);
    outline:none;
    border: 2px solid var(--background-2);
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 100%;
}

.account_form_button:active{
    background-color: var(--background-1);
    color: var(--text-2);
}