:root.dark {
    --background: #2c2c2c;
    --background-2: #656565;
    --background-3: #a0a0a0;
    --background-4: rgb(27, 28, 30);
    --text-1: #ffffff;
    --text-2: #a9a9a9;
    --text-t: #000000;
    --shadow-1: #ffffff4d;
    --blur-brightness: 100%;
}
:root {
    --background: #ffffff;
    --background-2: #c3c3c3;
    --background-3: #f0f0f0;
    --background-4: rgb(227, 229, 236);
    --text-1: #000000;
    --text-2: #575757;
    --text-t: #ffffff;
    --shadow-1: #0000004d;
    --blur-brightness: 50%;
}