body {
    margin: 0;
    padding: 0;
}

.game-version-group {
    background-color:var(--background);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 20px;
    box-shadow: 0px 0px 10px #000000b3
}

.version-group {
    background-color: var(--background);
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.version-info {
    font-size: 12px;
}

a.nav {
    color: white;
    text-decoration: none;
    background-color: rgb(214, 126, 215);
    padding: 8px 14px;
    border-radius: 5px;
}

.section_bg {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-4);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.line {
    border-bottom: 1px solid var(--background-4);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.faq-question {
    font-weight: bold;
    color: var(--text-1);
    margin-bottom: 10px;
}

.faq-answer {
    padding-left: 20px;
    color: var(--text-2);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
    font-weight:bold;
}